@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background: url(./images/neom-Goe4Q0xwvwc-unsplash.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    display: none;
}

.hourly img,
.daily img {
    height: 3rem;
}

.grid-rows-2 {
    grid-template-rows: 3.5rem 1fr;
}

.loadingSun {
    animation: growingSun 1500ms ease-in,
        rotatingSun 1500ms linear infinite 1600ms;
}

@keyframes growingSun {
    0% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotatingSun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
